<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/updateBio.css">
    <title>Update Bio</title>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="middle" >
        <form action="/updateBio" method="post">

            
            <div class="input">
              <label for="exampleFormControlTextarea1" class="form-label">Bio & Interests</label>
              <textarea class="form-control" name="bio" id="exampleFormControlTextarea1" rows="5" required><%= bio %></textarea>
            </div>
  
            <button type="submit" class="btn">Update</button>
  
          </form>
    </div>

    <%- include('partials/footer.ejs') %>
    
</body>
</html>